<nav class="navbar">
  <div class="container nav-container">
    <div class="navbar-logo">
        <a href="{{ "/" | relative_url }}">
            <img src="/assets/img/logo.svg" alt="main_logo">
        </a>
    </div>
    
    <div class="hamburger-menu">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <ul class="nav-menu">
      {%- for page in site.pages -%}
        {%- if page.title -%}
        <li><a href="{{ relative_url }}" class="nav-link translate" data-en={{ page.title | escape }} data-es={{ page.title | escape }}>{{ page.title | escape }}</a></li>
        {%- endif -%}
      {%- endfor -%}

        <div class="language-selector">
            <span class="language-option active" data-lang="es" onclick="changeLanguage('es')">ES</span> |
            <span class="language-option" data-lang="en" onclick="changeLanguage('en')">EN</span>
        </div>
    </ul>
  </div>
</nav>
