---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.description | escape }}</h1>
    <div class="post-content e-content" itemprop="articleBody">
    Bienvenidos al blog de TheBadg.es! <br>
    Este es un espacio dedicado a compartir ideas, novedades y recursos sobre nuestras insignias digitales. Aquí encontrarás artículos, guías y actualizaciones que te ayudarán a aprovechar al máximo nuestras herramientas. Nuestro objetivo es construir una comunidad donde podamos aprender juntos y explorar nuevas formas de reconocer logros y habilidades. Te invitamos a participar, dejar tus comentarios y ser parte activa de esta aventura. <br>
    ¡Gracias por visitarnos y esperamos que disfrutes del contenido que hemos preparado para ti!
    </div>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>
